
body{
    background-color: rgb(189, 189, 189);
}

.navbar{
    background-color: indigo;
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0.8;
}

li a {
    color:yellow !important;
    font-size:20px;
}

li a:hover{
    color:indigo !important;
    background-color: lightyellow;
}
.navbar-toggler{
    background-color: lightgray ;
}
/* 
@media (max-width:600px){
    nav{
        height:auto;
    }
    .nav-link {
        padding:10px;
    }
}
*/

footer{
    height:30px;
    background-color: indigo;
    color: white;
}